.form-control {
    &:focus {
        border: 2px solid $blue !important;
        box-shadow: none !important;
        
    }

    &:active {
        border: 2px solid $blue;
        outline: $blue;
    }

    &:disabled {
        background-color: #F7F9FA;
        color: $text-muted;
    }

    &.ng-invalid.ng-touched {
        border: 2px solid $danger-color;
    }

}


.form-check-input + .form-check-label {
    font-weight: 400;
    color: $text-primary;
}

.form-check-input:checked[type=radio] + .form-check-label {
  font-weight: 500;
}

.form-check-input[type=radio] {
    margin-top: 0.4rem;
}