.main {
  padding: 1rem 2rem;
}

.pageTitle {
  font-size: 24px;
  font-weight: 700;
  color: #12223b;
}

.desc {
  margin-top: 4px;
  font-size: 14px;
  color: #3f4c64;
}

.main-container {
  margin: 1rem 0;
  height: 66vh;
  border: 2px dashed #ddd;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

.button-add-trigger {
  background: #f2613f;
  color: white;
  border: none;
  padding: 0.4rem 0.5rem;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  gap: 3px;
  margin-top: 2rem;
}

.trigger-dropdown {
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.trigger-dropdown .dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    color: #f2613f;
  }
}

.trigger-dropdown .dropdown-item:hover {
  background: #f8f9fa;
}

.footer {
  padding: 1rem 2rem;
  padding-right: 5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0px;
}

.trigger-block {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  min-width: 300px;
  background: #fff;
}

.trigger-header {
  font-weight: 500;
  gap: 10px;
}

.plus-button {
  background: none;
  border: none;
  font-size: 24px;
  color: #ed7157;
  cursor: pointer;
}

.select-basic {
  height: 40px;
}

.option-container {
  border: 2px solid rgb(222, 222, 222);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  width: 270px;
}

.labelNumber {
  border: 2px solid #ff8348;
  color: #ff8348;
  background-color: #fbded1;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-additional-btn {
  // border: 2px solid green;
  width: min-content;
  margin-top: 1.3rem;
}
